:root {
    /* Colors */
    --background-grew-test: #817a7a;
    --background-orange-care: #ff9924;
    --background-blue-care: #1C13E9;



    /* Fonts */
    --font-dm-sans: "DM Sans", sans-serif;
  }